{% extends [layout ~ '.html.twig', 'layout.html.twig'] %}
{% from 'macros.html.twig' import agencyBadge %}
{% block body %}
	{% set activeSubnav = 'roles' %}
	{% set activetab = 'settings' %}
	{% include 'incident/components/incidentHeader.html.twig' %}
	<div class="row">
        {% include 'incident/settings/settingsNav.html.twig' %}
		<div class="col">
			<form action="{{url_for('incident.settings',{'incident':incident.getId,'setting':'roles'})}}" method="post" name="incidentPermissions">
				<table class="table table-sm" autocomplete="off">
					<thead>
						<tr>
							<th>Role</th>
							{% for p in enum('\\App\\Domain\\Permissions\\Data\\PermissionsEnum').cases %}
								<th class="text-center">{{p.getName}}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% include 'incident/components/permissionMatrix.html.twig' %}
					</tbody>
				</table>
				<div class="d-flex justify-content-end">
					<button class="btn btn-success" type="submit">Update Permissions</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
