{% extends 'base.html.twig' %}
{% from 'macros.html.twig' import agencyBadge %}
{% block body %}
	{% set activeSubnav = 'general' %}
	{% set activetab = 'settings' %}
	{% include 'incident/components/incidentHeader.html.twig' %}
	<div class="row">
		{% include 'incident/settings/settingsNav.html.twig' %}
		<div class="col">
			<div class="card mb-3">
				{% include 'incident/settings/individual/rename.html.twig' %}
			</div>
			<div class="card">
				{% include 'incident/settings/individual/active.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
