<div class="col-md-2">
	<div class="list-group">
			<a class="list-group-item list-group-item-action {{activeSubnav == 'general' ? 'active'}}" aria-current="page" href="{{url_for('incident.settings',{'incident':incident.getId})}}">General Settings</a>
			<a class="list-group-item list-group-item-action {{activeSubnav == 'roles' ? 'active'}}" aria-current="page" href="{{url_for('incident.settings',{'incident':incident.getId,'setting':'roles'})}}">Manage Roles</a>
	</div>
</div>
