{% extends 'base.html.twig' %}
{% block body %}
	{% if app.user %}
		<h2>Active Incidents</h2>
		<hr>
		{% include 'incident/components/listing.html.twig' %}
		{% include 'incident/form/incidentForm.html.twig' %}
		{% else %}
			{% include 'guest/guestHome.html.twig' %}
	{% endif %}
{% endblock %}
