{% extends 'base/stripped.html.twig' %}
{% block body %}
{% from 'macros/formInputs.twig' import textInput %}
<p class="lead">Thank You</p>
<p>If your email address is found in our system, an email with instructions on how to reset your password will be sent to you shortly.</p>
<p><a href="{{url_for('home')}}" class="btn btn-primary">Home</a></p>
{% endblock %}
