{% extends 'base/stripped.html.twig' %}
{% block body %}
	{% from 'macros/formInputs.twig' import textInput %}
	<div class="card bg-body-tertiary border-secondary">
		<form class="card-body form" method="post" action="?reset=true">
			<h3>Select a New Password</h3>
			<hr>
			<div class="row mb-3">
				<div class="col">
					{{textInput('password','password',"Password")}}
				</div>
				<div class="col">
					{{textInput('password','passwordVerify',"Retype Password")}}
				</div>
			</div>
			<div class="row">
				<div class="col d-flex justify-content-end gap-3">
					<button type="submit" class="btn btn-primary">Reset Password</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
