{% from 'macros.html.twig' import roleBadge %}
<div class="dropdown agencyChooser" data-reload="{{reload}}">
	<span class="dropdown-toggle border border-subtle bg-white rounded-2 d-flex align-items-center py-1 px-2 gap-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		<div class="agencyTarget pe-none">
			{% if app.user.getActiveRole %}
				{{roleBadge(app.user.getActiveRole)}}
			{% else %}
				<div class="role-badge d-flex align-items-center gap-1 lh-1" style="font-size: .9rem; height: 32px">
					<div class="pe-none">
						<strong>No Role</strong><br>
					</div>
				</div>
			{% endif %}
		</div>
	</span>
	<ul class="dropdown-menu">
		<li>
			<span class="dropdown-item">
				<div class="role-badge d-flex align-items-center gap-1 lh-1" style="font-size: .9rem; height: 32px">
					<div class="pe-none">
						<strong>No Role</strong><br>
					</div>
				</div>
			</span>
		</li>
		{% for r in app.user.getRoles %}
			<li>
				<span class="dropdown-item">
					{{roleBadge(r)}}
				</span>
			</li>
		{% endfor %}
	</ul>
</div>
