{% extends 'manage/base.html.twig' %}
{% from 'macros.html.twig' import empty %}

{% block body %}
	{% include 'manage/agency/components/agencyHeader.html.twig' %}
	<div class="d-flex justify-content-end mb-3">
		{# <form class="form">
			<div class="form-floating mb-3">
				<input type="search" class="form-control" id="memberFilter" placeholder="Find a Member">
				<label for="memberFilter">Find a Member</label>
			</div>
		</form> #}
	</div>
{% endblock %}
