{% extends 'manage/base.html.twig' %}

{% block body %}
	<h2><i class="fa-solid fa-landmark"></i> Agencies</h2>
	<hr>
    {% include 'manage/agency/components/listing.html.twig' %}
    {% include 'manage/agency/form/agencyForm.html.twig' %}
{% endblock %}
