<h5>An Error Occurred</h5>
<h3>
	<span id="appErrorCode">{{error.getCode}}</span>
	-
	{{error.getMessage}}
</h3>
<p class="lead">Please include this request ID when reporting this error:
	<code>{{request_id}}</code>
</p>
