{% extends 'base.html.twig' %}
{% from 'macros.html.twig' import agencyBadge %}
{% block body %}
	{% include 'incident/components/incidentHeader.html.twig' %}
	<div class="row">
		<div class="col-md-2">
			<ul class="nav flex-column bg-body-tertiary border border-subtle rounded-2">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="#">Manage Roles</a>
				</li>
			</ul>
		</div>
		<div class="col">
			<form action="{{url_for('incident.settings.update',{'incident':incident.getId,'setting':'permissions'})}}" method="post" name="incidentPermissions">
				<table class="table table-sm" autocomplete="off">
					<thead>
						<tr>
							<th>Role</th>
							{% for p in enum('\\App\\Domain\\Permissions\\Data\\PermissionsEnum').cases %}
								<th class="text-center">{{p.getName}}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% include 'incident/components/permissionMatrix.html.twig' %}
					</tbody>
				</table>
				<div class="d-flex justify-content-end">
					<button class="btn btn-success" type="submit">Update Permissions</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
