@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$custom-colors: map-merge(
  $theme-colors,
  (
    "critical": #ff80ff,
  )
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
// $utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
// $utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
// $utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";
@import "~@fortawesome/fontawesome-free/css/v5-font-face.css";

html, body {
  height: 100%;
  min-height: 100%;
}

.opacity-50 {
  opacity: .5;
}

#app {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}

#app.dashboard {
  height: 100vh;
  max-height: 100%;
}

#app.dashboard > header {
  grid-area: header;
}

#app.dashboard > main {
  overflow: auto;
  grid-area: main;
}

#app.dashboard > footer {
  grid-area: footer;
}

#app.dashboard main > .row {
  height: 100%;
}

#app.dashboard main .row .sidebar, #app.dashboard main .row  .main-content {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.main-content {
  border-left: 8px solid var(--bs-border-color);
}

.main-content:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 8px;
  content: '';
  cursor: col-resize;
}

input,
textarea {
  font-family: var(--bs-font-monospace);
}

// .list-group-item {
//   overflow: hidden;
// }

.event-severity {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
  display: block;
  border-radius: 0;
  transform: rotate(180deg);
  margin: calc(var(--bs-list-group-item-padding-y) * -1)
    calc(var(--bs-list-group-item-padding-x) * -1);
  text-transform: uppercase !important;
}

// .list-group-item:first-child .event-severity  {
//   border-bottom-right-radius: 5px !important;
// }

// .list-group-item:last-child .event-severity    {
//   border-top-right-radius: 5px !important;
// }

.event-severity {
  border-radius: 0;
}

#mdEditorTabs.nav-tabs .nav-link.active {
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-bottom-color: white;
}

.card-body p:last-child {
  margin-bottom: 0 !important;
}

#mdeditor.targeted {
  outline: 4px dashed black;
  outline-offset: -15px;
  position: relative;
}

.markdown-content p img {
  max-width: 75%;
  height: auto;
}

.dropdown-toggle.no-caret::after {
  display: none !important;
}

@import './list-group.scss';

.badge-tag {
  font-size: .5rem;
  margin-top: -5px;
  user-select: none;
}

.diff {
  color: rgb(28, 3, 58);
  background-color: rgb(210, 168, 255);
}

.diff-add {
  color: rgb(3, 58, 22);
  background-color: rgb(175, 245, 180);
}

.diff-minus {
  color: rgb(103, 6, 12);
  background-color: rgb(255, 220, 215);
}

blockquote.twitter-tweet {
  border-left: 4px solid #1DA1F2;
  padding-left: 1rem;
}

blockquote.twitter-tweet:before {
  display: block;
  font: var(--fa-font-brands);
  content: '\f099';
  color: #1DA1F2;
}

.rounded .list-group-item:first-child .event-severity  {
  border-bottom-right-radius: 5px !important;
}

.rounded .list-group-item:last-child .event-severity    {
  border-top-right-radius: 5px !important;
}

[data-bs-toggle="tooltip"],
[data-bs-toggle="popover"] strong {
  text-decoration: underline dotted;
}

a.external-link::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1.1rem;
  height: 1.1rem;
  margin: 0 .2em 3px;
  border-radius: 3px;
  background-size: contain;
  background-image: var(--url);
}