{% include 'base/header.html.twig' %}
{% include 'base/navbar.html.twig' %}
{% block subnav %}{% endblock %}
<div class="container mt-4">
	<main>
		{% block body %}{% endblock %}
	</main>
</div>
{% include 'base/footer.html.twig' %}
