{% extends 'manage/base.html.twig' %}

{% block body %}
	{% from 'macros.html.twig' import roleBadge %}
	<h2 class="mb-0">
		<i class="fa-solid fa-user"></i>
		{{user.getName}}</h2>
	<h5 class="mt-0 fw-normal">
		<i class="fa-solid fa-envelope"></i>
		<a href="mailto:{{user.getEmail}}">{{user.getEmail}}</a>
	</h5>
	<hr>
	<div class="row">
		<div class="col">
			<h4>User Roles</h4>
			<hr>
			{% for r in user.roles %}
			<div class="p-3 border border-subtle rounded-2 d-flex align-items-center mb-3 gap-3">
				{{roleBadge(r)}}
			</div>
			{% endfor %}
		</div>
		<div class="col"></div>
	</div>


{% endblock %}
