{% extends 'email.html.twig' %}
{% block body %}

	<h1>Password Reset Request</h1>
	<p>A password reset was requested for your
		{{app.name}}
		account.</p>
	<p>
		<strong>If you did not reqeust a password reset, please contact your
			{{app.name}}
			administrator</strong>
	</p>
	<p style="margin-top: 1rem;">To reset your password,
		<a href="https://{{app_url}}/user/resetPassword?code={{token}}">click here</a>.</p>

{% endblock %}
